.home {
  padding-top: 250px;
  margin: 0 auto;
  max-width: 600px;
  opacity: 0.6
}

.signup {
  padding-top: 100px;
  opacity: 0.6
}
.homeimg { 
	background: url('../img/group.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.jumbotron {
  background-color: black;
}

.home h1,h3 {
  color:#ffa7a7;
}

.home .btn-success {
  background-color:#ffa7a7;
  border-color: #969696;
}

.sign-in .control-label {
  color: #ffa7a7;
}

.main-nav .container-fluid {
    background-color: #ffa7a7;
    height: 50px;
}

.main-nav .logo {
  vertical-align: middle;
}


