.home {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 600px;
}

.jumbotron {
  background-color: black;
}

.home h1,h3 {
  color:#ffa7a7;
}

.home .btn-success {
  background-color:#969696;
  border-color: #969696;
}

.sign-in .control-label {
  color: #ffa7a7;
}

.main-nav .container-fluid {
    background-color: #ffa7a7;
    height: 78.6px;
}

.main-nav .logo {
  vertical-align: middle;
}


