<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Dashboard</title>

        <!-- Bootstrap -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-nav">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <img class="logo" src="../static/img/moves.iologo.png" height=58px width=58px>
                </div>
              <span class="navbar-text">What's the move in...</span>
                <span class="btn-group">
                  <button type="button" class="btn btn-default" >City</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Atlanta</a></li>
                    <li><a href="#">San Francisco</a></li>
                    <li><a href="#">Boston</a></li>
                    <li><a href="#">Minneapolis</a></li>
                  </ul>
                </span>
                  <span class="navbar-text">?</span>
              </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-sm-2">
            <div class="main-sidebar">
                <div class="wrapper">
                    <div class="row">
                        <div class="column" id="sidebar">
                            <div class="navbar-contents"></div>
                            <div class="profile-photo">
                                <div id="circle"></div>
                            </div>
                            <ul class="nav" id="menu">
                                <li><p>view profile</p></li>
                                <li><hr class="line"></li>
                                <li><p>settings</p></li>
                                <li><hr class="line"></li>
                                <li><p>my cities</p></li>
                                <li><hr class="line"></li>
                                <li><p>log out</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-10">
                <div class="main-section">
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="circle"></div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>