<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Moves.io | New Move</title>

        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    </head>
    <body>
    <div class="navbar pink navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li style="color: white"><a href="#"><img class="logo" src="../static/img/moves.iologo.png"></a></li>
      </ul>
      <ul class="nav navbar-right">
      <li class="dropdown nav navbar-nav navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose your city<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">San Francisco</a></li>
            <li><a href="#">Boston</a></li>
            <li><a href="#">Minneapolis</a></li>
            <li><a href="#">Atlanta</a></li>
          </ul>
      </li>
    </ul>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 new-sidebar text-center">
            <br />
            <h3>Profile</h3>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <br />
            <br />
            <ul class="nav nav-pills nav-stacked">
              <li><p>Name: Sarah Aladetan</p></li>
              <li><p>Age: 21</p></li>
              <li><hr class="line"></li>
              <li><p>City: San Francisco</p></li>
              <li><hr class="line"></li>
              <li><p>College: MIT</p></li>
              <li><p>Company: Github</p></li>
            </ul>
    <br />
    <br />
    <br />
    </div>
    <div class="col-xs-10 new-main">
      <div class="new">
      <h3> Make your moves </h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="POST">
              <div class="form-group">
                <label for="city">City</label>
                {{ form.city(class="form-control",placeholder="City") }}
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                {{ form.move_type(class="form-control",placeholder="Type") }}
              </div>
              <div class="form-group">
                <label for="move">What's your move?</label>
                {{ form.text(class="form-control",rows=3) }}
              </div>
              <div class="form-group sign">
                   {{ form.submit(class="btn btn-primary", placeholder="submit")}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="footer">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">© 2017 - Built with <span class="glyphicon glyphicon-heart"></span> By Moves .Inc
        </p>
        </div>
      </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="static/js/bootstrap.min.js"></script>
    </body>
</html>
