<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Moves.io | Post</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="feed">
        <div class="panel panel-default post original-post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 mini-profile-bold">
                <strong>Name:</strong> <br />
                <strong>Hometown: </strong> <br />
                <strong>Pronouns:</strong> <br>
              </div>
              <div class="col-sm-8">Post</div>
          </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 mini-profile">
                <strong>Name:</strong> <br />
                <strong>Hometown: </strong> <br />
                <strong>Pronouns:</strong> <br>
              </div>
              <div class="col-sm-8">Reply</div>
          </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 mini-profile">
                <strong>Name:</strong> <br />
                <strong>Hometown: </strong> <br />
                <strong>Pronouns:</strong> <br>
              </div>
              <div class="col-sm-8">Reply</div>
          </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4 mini-profile">
                <strong>Name:</strong> <br />
                <strong>Hometown: </strong> <br />
                <strong>Pronouns:</strong> <br>
              </div>
              <div class="col-sm-8">Reply</div>
          </div>
          </div>
        </div>
        <div class="panel panel-default post">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="text-center"><strong>Write a response!</strong></div>
              </div>
              <div class="col-sm-8 response-border">
                <form>
                  <div class="form-group">
                    {{ form.text(class="form-control",rows=3) }}
                  </div>
                  <div class="sign">
                  {{ form.submit(class="btn btn-default", placeholder="submit")}}
                </div>
                </form>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
